.card-item {
  margin-bottom: 30px;
}

.card-item:last-child {
  margin-bottom: 0;
}

.card-item__image {
  display: flex;
  justify-content: center;
  line-height: 0;
}

.card-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ececec;
  padding: 27px;
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-item__name {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.card-item__spec {
  margin-top: 5px;
  font-size: 13px;
  line-height: 30px;
}

.card-item__desc {
  padding-bottom: 18px;
}

.card-item__buy {
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-top: 1px solid #ececec;
}

.card-item__to-basket {
  width: 21px;
  height: 19px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: #ffffff;
  .card-item__cart-ico {
    fill: rgba(34, 31, 31, 0.2);
  }
  &:hover {
    .card-item__cart-ico {
      fill: #63d1bb;
    }
  }
  &:active {
    .card-item__cart-ico {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}

@media @tablet-widths {
  .card-item {
    display: flex;
    width: 100%;
    margin-bottom: 54px;
  }
  .card-item__link {
    width: 50%;
    height: 334px;
    background-color: #ececec;
  }
  .card-item__wrapper {
    width: 50%;
    box-sizing: border-box;
  }
  .card-item__name {
    font-size: 20px;
  }
}

@media @desktop-widths {
  .card-item {
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-bottom: 0;
  }
  .card-item__link {
    width: 100%;
    height: auto;
  }
  .card-item__image {
    height: 462px;
  }
  .card-item__wrapper {
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
