.featured-item {
}

.featured-item__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured-item__desc {
  width: 95%;
}

.featured-item__spec {
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
}

.featured-item__spec td {
  border-bottom: 1px solid #ececec;
  padding-right: 20px;
}

.featured-item__img {
  width: 260px;
  height: 315px;
  margin-bottom: 15px;
}

.featured-item__price {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #444444;
}
