.page-footer {
  background-color: #f1f1f1;
}

.page-footer__copyright {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 39px;
  padding-top: 28px;
  padding-bottom: 30px;
}

.page-footer__copyright-link {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.page-footer__copyright-link::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 34px;
  top: 22px;
  right: 39px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;

}
