.page-header {
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 79px;

  box-shadow: inset 0 1px 0 0 #ececec,
                    0 1px 0 0 #ececec;
}

.page-header__logo a {
  line-height: 0;
}

.page-header__nav {
}
