.reviews {
  padding-bottom: 40px;
}
.reviews__item {
  margin: 0;
  padding-top: 12px;

  color: #444444;
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

.reviews__author-link {
  font-size: 17px;
  color: #444444;
  line-height: 30px;
}

.reviews__btn-wripper {
  display: flex;
  margin-top: 30px;
  margin-bottom: 38px;
}

.reviews__btn {
  font-size: 0;
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  &:hover svg {
    opacity: 0.6;
  }
  &:active svg {
    opacity: 0.3;
  }
}

@media @tablet-widths {
  .reviews {
    padding-top: 80px;
    padding-bottom: 47px;
    margin-bottom: 46px;
    width: 100%;
    background: url("../img/review@1x.jpg") no-repeat;
  }
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    .container-fluid();
  }
  .reviews__write {
    position: relative;
    margin-bottom: -52px;
    align-self: flex-end;
    width: 26.5%;
    order: -1;
  }
  .reviews__btn-wripper {
    position: relative;
    margin-top: -55px;
    margin-bottom: 0;
    align-self: flex-end;
    width: 26.5%;
  }
  .reviews__btn {
    border: 0;
  }
  .reviews__item {
    margin-top: 52px;
    padding-top: 0;
  }
  .reviews__author-name {
    display: block;
    margin-top: 57px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .reviews {
    padding-top: 75px;
    margin-bottom: 24px;
  }
  .reviews__wrapper {
    width: 83.4%;
    margin-left: 16.5%;
  }
  .reviews__wrapper h2 {
    padding-top: 0;
  }
  .reviews__item {
    margin-right: 100px;
  }
}
