.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  padding-left: 87px;
  padding-top: 24px;
  padding-bottom: 15px;
}

@media @tablet-widths {
  .social-links {
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}
